<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
  <style>
    .export-button {
      display: inline-block;
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }
    .export-button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <main class="container">
    <h1>Job Search Results</h1>
    <p>Showing results for "{{keyword}}"</p>
    <hgroup>
      <a class = "export-button" target="_blank" href="/export?keyword={{keyword}}">Export to CSV</a>
    </hgroup>
    <figure>
      <table role="grid">
        <thead>
          <tr>
            <th>Position</th>
            <th>Company</th>
            <th>Location</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
            <tr>
              <td>{{job.position}}</td>
              <td>{{job.company}}</td>
              <td>{{job.location}}</td>
              <td><a href="{{job.link}}" target="_blank">Apply now&rarr;</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </figure>
  </main>
</body>
</html>